@import url('https://fonts.googleapis.com/css?family=Engagement&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
  background-color: black;
  background-image: url(./images/backgroundAboutUs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace;
  
  overflow-x: hidden;
}

/*----------------------CONTENT---------------*/
.wrapper {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 100px;
  grid-template-columns: [col] auto [col] auto [col] auto [col] auto  ;
  grid-template-rows: [row] auto [row] auto [row] auto;
  background-color: #fff;
  color: #444;
  background-color: transparent;
  background-size: cover;
  margin: 100px;
  margin-bottom: 80px;
}

.box {
  background-color: #514538;

  color: black;
  border-radius: 6px;
  padding: 20px;
  font-size: larger;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 2;
  transition: all 0.3s ease-out;
  border: 10px;
  box-shadow: 10px 5px 5px #947046;

}
p{
  max-height: 500px;
  margin-top: auto;
  margin-bottom: auto;
}
/*
.box:hover {
  opacity: 1;
  background-color: #35281e;
  color: white;
}*/
.a {
  grid-column: col / span 3;
  padding: 20px;
  grid-row: row ;
  animation: slideInLeft 2.5s;
  background-image: linear-gradient(to right, #f9f871, #d6c561, #ae9653, #816b46, #514538);
}
@keyframes slideInLeft {
 from {
   -webkit-transform: translate3d(-100%, 0, 0);
   transform: translate3d(-100%, 0, 0);
   visibility: visible;
 }
 to {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
}

.b {
  grid-column: col 4 / span 1 ;
  grid-row: row ;
}
.c {
  grid-column: col ;
  grid-row: row 2 ;
}
.d {
  grid-column: col 2 / span 3 ;
  grid-row: row 2 ;
  animation: slideInRight 2.5s;
  background-image: linear-gradient(to left, #9b6673, #8a5d5e, #78554d, #644d41, #514538);
}
@keyframes slideInRight {
 from {
   -webkit-transform: translate3d(100%, 0, 0);
   transform: translate3d(100%, 0, 0);
   visibility: visible;
 }
 to {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
}

.e {
  grid-column: col / span 3;
  grid-row: row 3;
  animation: slideInLeft 1s; 
  background-image: linear-gradient(to right, #f9f871, #d6c561, #ae9653, #816b46, #514538);
}


.f{
  grid-column: col 4 / span 1 ;
  grid-row: row 3;
}

video{
  border-radius: 5px;
  width : 100% ;
  height:  100%;
}


@media(max-width: 1011px){
  .wrapper {
      display: block;
      
      padding: 0;
     justify-items: center;
    }
 .a,.e{
  background-image: linear-gradient(to bottom, #514538, #756143, #98804d, #b8a157, #d6c561, #d6c561, #d6c561, #d6c561, #b8a157, #98804d, #756143, #514538);
 }
 .d{
  background-image: linear-gradient(to bottom, #514538, #5f4b3e, #6e5146, #7c5751, #8a5d5e, #8a5d5e, #8a5d5e, #8a5d5e, #7c5751, #6e5146, #5f4b3e, #514538);
 }
 .box{
  font-size: small;
 }
}